body{
  
  background-color:aliceblue;
  display: flex;
  flex-direction: column;
  width:100%;

}

.inactive{
  display: none; 
}

#main, .active-game-container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
  width:100%;
  margin-top: 50px;
 
}


#main>div:nth-child(1), #game-container>div:nth-child(1){
  width:50%;
}

#main>div:nth-child(2), #game-container>div:nth-child(2){
  width:40%;
}

#welcome-message, #user-options-container{

  padding: 50px;
  border:solid 8px #003a75;
  background-color: #fff;

}

#game-status{

  background-color: #003a75;;
  display:flex;flex-direction: column;
  align-items: center;
  justify-content: center;

}

#game-timer{
  font-family: 'Bubblegum Sans', sans-serif;
  font-size:50px;
  color: #fff;;
}

h1,h2,h3{
  font-family: 'Bubblegum Sans', sans-serif;

}

h1{
  font-size:60px;
}

h2{
  font-size:30px;
}

h2#game-message{
  color:#fff
}

#image-box{

  background-color: #003a75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  
}

.welcome-img{

  width:100%;
  height: auto;

  
}
.user-btns{
 
  margin:30px 0;
}

button{
  background-color: #003a75;
  color:#fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 50px;
}

button:hover{
  background-color: #fff;
  color:#003a75;
  border:solid #003a75 2px;
}

p{
  font-size:20px;
  margin: 20px 0;
}

label{
  font-weight: bold;
}

input, label, select{

  font-size: 20px;
  
}

select{
  border-right: 6px solid transparent;
  margin-right: 5px;
  border-radius: 50px;
  height:30px;
  width:250px;
  font-size: 20px;
  border:1px solid #000;
}

#offersCocktails{
  width:20px;
  height:20px;
}

div.user-option{
  display: flex;
  margin-top:30px;
  gap:20px;
  
}

#restaurants-container{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}

img.restaurant-img{
  max-width: 250px;
  border-radius: 30px;
}

.restaurant-info {
  text-align: center;
}

.restaurant-info>h3 {
  color:#fff;
}

.restaurant-info>button {
  background-color:#ffaa00;
  color:#000;
  border:transparent;
}

.restaurant-info>button:hover{

  background-color:#fff;
  color:#000;

}

@media (max-width: 1359px) {

body{
  justify-content: center;
  align-items: center;
}

  #main>div:nth-child(1), #game-container>div:nth-child(1), #main>div:nth-child(2), #game-container>div:nth-child(2){
    width:100%;
  }

  #main, #game-container{
    flex-direction: column;
  }

  #image-box{
    justify-content: center;
    align-items: center;
  }

}
