<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
  id="favicon" 
  rel="icon"
  href="./img/burger.png"
  type="image/png" 
  sizes="32x32"
>
<link rel="stylesheet" href="./css/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Bungee+Spice&display=swap" rel="stylesheet">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <title>What the heck do you want to eat? </title>
</head>

<body>
  <div id="main">
    <h2> Submit a Restaurant</h2>
    <p>Have a restaurant you would to enter? Please submit restaurant details below.</p>
    <div id="restaurantForm">
      <form id="editor_holder">
        <label for="name">Restaurant Name:</label>
        <input class="form-field" type="text" id="name" name="name" >
        <label for="name">What is the average cost of a meal for two people?</label>
        <input class="form-field" type="number" id="avgPrice" name="avg_price">
        <label for="cocktails">Does this place offer cocktails?</label>
        <input type="checkbox" name="cocktails-yes" id="offersCocktails" />
        <div class="user-option"></div>
          <div id="offersIndoorOrTakeout">
            <label>Does this place offer dine-in, take out, or both?</label>
            <input type="radio" id="offersIndoorDining" value="true" name="dineinOrTakeOut" />
            <label for="true">Offers Only Dine In</label>
            <input type="radio" id="offersTakeout" value="true" name="dineinOrTakeOut" />
            <label for="takeout">Only Takeout</label>
            <input type="radio" id="offersBoth" value="true" name="dineinOrTakeOut" />
            <label for="both">Offers Both</label>
          </div>
          <label for="food-type-select">Choose a food type:</label>
          <select name="food-options" id="foodType">
            <option value="">Select Food Type</option>
          </select>
        <label for="image">Submit an image (please enter a url)</label>
        <input class="form-field" type="text" id="logoUrl" name="image" >
        <div class="user-btns">
          <button id="new_submit-button">Submit button</button>
        </div>
      </form>
    </div>
  </div>
  <script type="module" src="./js/submission.js"></script>
  <script type="module" src="./js/server.js"></script>
  <script>
    const element = document.getElementById('editor_holder')
  </script>
</body>
</html>